* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 100vh;
}
.board-container {
  display: flex;
  gap: 50px;

  //
  flex-wrap: wrap;
  justify-content: center;
}
.board-1,
.board-2 {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  border-bottom: solid 1px black;
}
.board-1.disabled,
.board-2.disabled {
  pointer-events: none;
  filter: opacity(0.5);
}
.grid {
  width: 50px;
  height: 50px;
  border: solid 1px black;
  border-right: none;
  border-bottom: none;
  &:nth-child(10n) {
    border-right: solid 1px black;
  }
}
.grid.occupied {
  background-color: green;
}
.grid.missed {
  background-color: brown;
}
.grid.hit {
  background-color: red;
}
/* .board-2 {
  .grid.occupied {
    background-color: transparent;
  }
} */
.winner-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: blue;
  display: none;
}
