$border-color: #0e454ee8;
$background-color: #6050d5;
$text-color: #bdb6b6;
$ship-color: #c4980b7d;
$missed-color: #a93f3f;
$hit-color: #298538;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 100vh;
  background-color: $background-color;
  color: $text-color;
}
header {
  text-align: center;
  padding: 25px 0;
}
h1 {
  font-size: 60px;
}
h3 {
  font-size: 50px;
}
h4 {
  font-size: 20px;
}
.board-container {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}
.boards {
  text-align: center;
}
.board,
.board-1,
.board-2 {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 350px;
  border-bottom: solid 1px $border-color;
}
.board-2 {
  cursor: pointer;
}
.board-1.disabled,
.board-2.disabled {
  pointer-events: none;
  // filter: opacity(0.5);
}
.grid {
  width: 35px;
  height: 35px;
  border: solid 1px $border-color;
  border-right: none;
  border-bottom: none;
  &:nth-child(10n) {
    border-right: solid 1px $border-color;
  }
}
.grid.occupied {
  background-color: $ship-color;
}
.grid.missed {
  background-color: $missed-color;
  position: relative;
  &::after {
    content: "x";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 700;
    color: darken($color: $missed-color, $amount: 10);
  }
}
.grid.hit {
  background-color: $hit-color;
  position: relative;
  &::after {
    content: "";
    display: block;
    background-color: darken($color: $hit-color, $amount: 10);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.winner-message {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  animation: pop-up 0.5s ease;
}
@keyframes pop-up {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  1% {
    transform: scale(1);
    opacity: 1;
  }
}
.initial-message {
  display: none;
  justify-content: center;
  gap: 25px;
  padding: 25px;
  @media (max-width: 767px) {
    flex-wrap: wrap;
  }
  .board,
  .ship-container {
    flex-shrink: 0;
  }
  .board {
    @media (max-width: 767px) {
      order: 2;
    }
  }
}
.ship-container {
  @media (max-width: 767px) {
    order: 1;
  }
  .ships {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    row-gap: 10px;
    .ship {
      display: flex;
      div {
        width: 35px;
        height: 35px;
        border: solid 1px $border-color;
        background-color: #c4980b7d;
      }
      div + div {
        border-left: none;
      }
    }
    .ship.vertical {
      flex-direction: column;
      flex-basis: 48%;
      div + div {
        border-top: none;
        border-left: solid 1px $border-color;
      }
    }
  }
}
body.place-ship {
  // overflow: hidden;
  .board-container {
    display: none;
  }
  .initial-message {
    display: flex;
  }
}
